* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.signup-box {
    background-color: #fff;
    border: 1px solid #dbdbdb;
    padding: 40px 30px;
    width: 350px;
    text-align: center;
    border-radius: 10px;
}

.logo {
    font-family: 'Pacifico', cursive;
    font-size: 2.5rem;
    color: #262626;
    margin-bottom: 10px;
}

.signup-description {
    font-size: 14px;
    color: #8e8e8e;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    background-color: #fafafa;
    outline: none;
    transition: border 0.2s ease-in-out;
}

.input-group input:focus {
    border-color: #a8a8a8;
}

.email-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px; /* 간격 추가 */
}

.email-group input {
    width: calc(100% - 100px);
    margin-right: 10px;
}

.duplicate-btn {
    background-color: #0095f6;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s ease-in-out;
}

.duplicate-btn:hover {
    background-color: #007ace;
}

.signup-btn {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #0095f6;
    border: none;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.signup-btn:hover {
    background-color: #007ace;
}

.login-link {
    margin-top: 20px;
    font-size: 14px;
    color: #8e8e8e;
}

.login-link a {
    color: #0095f6;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}
